{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TGcoders.pl">
  <title>Transportuj24.pl - Przesyłka pozytywnie dodana | Sprawdź wycene swojej przesyłki.</title>
  <!-- Preloader -->
  <style>
    @keyframes hidePreloader {
      0% {
        width: 100%;
        height: 100%;
      }

      100% {
        width: 0;
        height: 0;
      }
    }

    body>div.preloader {
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body:not(.loaded)>div.preloader {
      opacity: 1;
    }

    body:not(.loaded) {
      overflow: hidden;
    }

    body.loaded>div.preloader {
      animation: hidePreloader .5s linear .5s forwards;
    }
  </style>
  <script>
    window.addEventListener("load", function() {
      setTimeout(function() {
        document.querySelector('body').classList.add('loaded');
      }, 300);
    });
  </script>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/logo-sm.png' %}" type="image/png">
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.css' %}">
  <!-- Quick CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
  <!-- ============================================-->
  <!-- Go back ====================================-->
  <a href="{% url 'app:home' %}" class="btn btn-secondary btn-icon-only rounded-circle position-absolute zindex-101 left-4 top-4 d-none d-lg-inline-flex"><span class="btn-inner--icon"><i class="fas fa-home"></i></span></a>
  <!-- ============================================-->
  <!-- ============================================-->
  <!-- Basic section ==============================-->
  <section>
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-md-11 col-lg-9 col-xl-8 py-6 py-md-0">
          <div>
            <!-- ============================================-->
            <!-- Go back ====================================-->
            <div class="mb-2 text-center">
              <h2 class="h1 mb-3">Wyceń przesyłke</h2><!-- Large -->
              <p class="d-none d-md-block">Wyceń przesyłkę dodaną przez klienta w serwisie <b class="text-primary">transportuj24.pl</b>.</p><!-- Small -->
            </div><!-- End first step =============================-->
            <!-- ============================================-->
            
            <div class="col-12">
            {% if send %}
            <div class="alert alert-success alert-flush" role="alert">
                <strong>Gotowe!</strong> Twoja wycena zostanie przekazana klientowi.
            </div>
            {% else %}
            <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4">
                {{ form.price }}
              </div>
              <div class="form-group col-md-5">
                {{ form.nip }}
              </div>
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-primary btn-block" onClick="this.form.submit(); this.disabled=true; this.value='acceptAction'; displaySpiner();">
                  <span id="buttonName" style="display:block">Dodaj wycene</span>
                  <span id="spinerButton" style="display:none;" ><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
                </button>
              </div>
            </div>
            </form>
            {% endif %}
            </div>
              
                <div class="col-12 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {% if object.image_1 %}
                          <a href="{{ object.image_1.url }}" target="_blank">
                            <img class="rounded float-left mr-6" src="{{ object.image_1.url }}" alt="Image Description" style="width: 100px;">
                          </a>
                          {% endif %}
                          {% if object.image_2 %}
                          <a href="{{ object.image_2.url }}" target="_blank">
                            <img class="rounded float-left mr-6" src="{{ object.image_2.url }}" alt="Image Description" style="width: 100px;">
                          </a>
                          {% endif %}
                          {% if object.image_3 %}
                          <a href="{{ object.image_3.url }}" target="_blank">
                            <img class="rounded float-left mr-6" src="{{ object.image_3.url }}" alt="Image Description" style="width: 100px;">
                          </a>
                          {% endif %}
                        </div>
                        <div class="col-12 mt-4">
                          <p>
                            <b>Typ produktu:</b> {{ object.type_product }} <br>
                            <b>ID:</b> {{ object.id }} <br>
                            <b>Data załadunku:</b> Od {{ object.date_st_send }} do {{ object.date_end_send }} <br>
                            <b>Data rozładunku:</b> Od {{ object.date_st_received }} do {{ object.date_end_received }} <br>
                            <b>Skąd:</b> {{ object.location_name_from }} ({{ object.org_latitude_form }}, {{ object.org_longitude_from }}) <br>
                            <b>Dokąd:</b> {{ object.location_name_to }} ({{ object.org_latitude_to }}, {{ object.org_longitude_to }}) <br>
                            <b>Wymiary:</b> {{ object.width }}x{{ object.depth }}x{{ object.height }}cm <br>
                            <b>Waga:</b> {{ object.weight }}kg <br>
                            <b>Ilość:</b> {{ object.quantity }} szt.<br>
                            <b>Odległość punktów (od do):</b> {{ object.distance|floatformat:'0' }}km<br>
                            <b>Opis:</b> {{ object.items_descriptions }} <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End basic section ==========================-->
  <!-- ============================================-->

  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script>
  <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
  <script src="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <script src="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <!-- Quick JS -->
  <script src="{% static 'assets/js/quick-website.js' %}"></script>
  <!-- Feather Icons -->
  <script>
    feather.replace({
      'width': '1em',
      'height': '1em'
    })
  </script>
  <script>
  function displaySpiner() {
    document.getElementById("buttonName").style.display = "none";
    document.getElementById("spinerButton").style.display = "block";
    }
  </script>
  {% if send %}
  <script>
    Swal.fire({
      title: 'OK!',
      timer: 2000,
      text: '{{ send }}',
      type: 'success',
      icon: 'success',
      confirmButtonColor: '#5EC9A7',
      confirmButtonText: 'Zamknij okno'
    })
  </script>
  {% endif %}

</body>

</html>