{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
  <title>Messenger - Responsive Bootstrap Application</title>

  <!-- Template core CSS -->

  <link href="{% static 'dashboard/css/template.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/css/template.dark.min.css' %}" rel="stylesheet" media="(prefers-color-scheme: dark)">



</head>
<!-- Head -->

<body>

    <div class="layout">

        <!-- Navigation -->
        {% include "dashboard/basic/navbar.html" %}
        <!-- Navigation  -->
        {% include "dashboard/basic/sidebar.html" %}


        <!-- Main Content -->
        <div class="main main-visible" data-mobile-height="">

            <!-- Chat -->
            <div id="chat-2" class="chat dropzone-form-js" data-dz-url="/profile/chat/fileupload/">

                <!-- Chat: body -->
                <div class="chat-body">

                    <!-- Chat: Header -->
                    <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">

                            <div class="row align-items-center">

                                <!-- Close chat(mobile) -->
                                <div class="col-3 d-xl-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted px-0" href="#" data-chat="open">
                                                <i class="icon-md fe-chevron-left"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Chat photo -->
                                <div class="col-6 col-xl-6">
                                    <div class="media text-center text-xl-left">
                                        <div class="avatar avatar-sm {{ friend.online_s|yesno:"avatar-online, avatar" }} d-none d-lg-inline-block mr-5">
                                            {% if friend.profile_picture %}
                                                <img src="{{ friend.profile_picture.url }}"
                                                     class="avatar-img" alt="">
                                            {% else %}
                                                <img src="{% static 'dashboard/images/avatars/12.jpg' %}"
                                                     class="avatar-img" alt="">
                                            {% endif %}
                                        </div>

                                        <div class="media-body align-self-center text-truncate">
                                            {% if friend.username %}
                                                <h6 class="text-truncate mb-n1">{{ friend.username}}</h6>
                                                <span class="badge badge-dot badge-success d-inline-block d-xl-none mr-1"></span>
                                                <small class="text-muted">{{ friend.online_s|yesno:"Online, " }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Chat: Content-->
                    <div class="chat-content px-lg-8">
                        <div class="container-xxl py-6 py-lg-10">

                        </div>

                        <!-- Scroll to end -->
                        <div class="end-of-chat"></div>
                    </div>
                    <!-- Chat: Content -->

                    <!-- Chat: DropzoneJS container -->
                    <div class="chat-files hide-scrollbar px-lg-8">
                        <div class="container-xxl">
                            <div class="dropzone-previews-js form-row py-4">

                            </div>
                        </div>
                    </div>

                    <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">
                            <form id="chat-id-2-form" action="" data-emoji-form="">
                                <div id="csrf">
                                    {% csrf_token %}
                                </div>
                                 <div class="form-row align-items-center">
                                        <div class="col">
                                            <div class="input-group">

                                                <!-- Textarea -->
                                                <textarea id="chat-id-2-input" class="form-control bg-transparent border-0"
                                                          placeholder="Type your message..." rows="1" data-emoji-input=""
                                                          data-autosize="true" style="height: 45px!important;"></textarea>

                                                <!-- Emoji button -->
                                                <div class="input-group-append">
                                                    <button class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0"
                                                            type="button" data-emoji-btn="">
                                                        <img src="{% static 'dashboard/images/smile.svg' %}"
                                                             data-inject-svg="" alt="">
                                                    </button>
                                                </div>

                                                <!-- Upload button -->
                                                <div class="input-group-append d-none">
                                                    <button id="chat-upload-btn-2"
                                                            class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 dropzone-button-js"
                                                            type="button">
                                                        <img src="{% static 'dashboard/images/paperclip.svg' %}"
                                                             data-inject-svg="" alt="">
                                                    </button>
                                                </div>

                                            </div>

                                        </div>

                                        <!-- Submit button -->
                                        <div class="col-auto">
                                            <button class="btn btn-ico btn-primary rounded-circle" id="chat-submit" type="submit">
                                                <span class="fe-send"></span>
                                            </button>
                                        </div>

                                    </div>
                            </form>
                        </div>
                    </div>
                    <!-- Chat: Footer -->
                </div>
                <!-- Chat: body -->
            </div>
        </div>
    </div>
    <!-- DropzoneJS: Template -->
    <div id="dropzone-template-js">
    <div class="col-lg-4 my-3">
      <div class="card bg-light">
        <div class="card-body p-3">
          <div class="media align-items-center">

            <div class="dropzone-file-preview">
              <div class="avatar avatar rounded bg-secondary text-basic-inverse d-block mr-5">
                <i class="fe-paperclip"></i>
              </div>
            </div>

            <div class="dropzone-image-preview">
              <div class="avatar avatar mr-5">
                <img src="#" class="avatar-img rounded" data-dz-thumbnail="" alt="">
              </div>
            </div>

            <div class="media-body overflow-hidden">
              <h6 class="text-truncate small mb-0" data-dz-name></h6>
              <p class="extra-small" data-dz-size></p>
            </div>

            <div class="ml-5">
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-muted" data-dz-remove>
                <i class="fe-x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- DropzoneJS: Template -->

    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"user-name" }}
    {{ contact_name|json_script:"contact-name" }}


    <div style="display: none">
        {% if friend.profile_picture %}
            <input type="text" id="friend_avatar" value="{{ friend.profile_picture.url }}">
        {% else %}
            <input type="text" id="friend_avatar" value="{% static 'dashboard/images/avatars/13.jpg' %}">
        {% endif %}
        <form id="create-chat-form" action="/profile/chat/create/" method="post">
            {% csrf_token %}
        </form>
    </div>

    <!-- Scripts -->
    <script src="{% static 'dashboard/js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/plugins.bundle.js' %}"></script>
    <script src="{% static 'dashboard/js/template.js' %}"></script>
    <!-- Scripts -->
    <script>

        setTimeout(function () {
            console.log('reload');
            var messageInputDom = document.getElementById('chat-id-2-input');
            var message = messageInputDom.value;
            if(message === ''){
                window.location.reload();
            }
        }, 600000);

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('user-name').textContent);
        const contactName = JSON.parse(document.getElementById('contact-name').textContent);
        var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";

        var chatSocket = new WebSocket(
            // var chatSocket = new ReconnectingWebSocket(
            ws_scheme  + '://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        chatSocket.onopen = function (e) {
            console.log("opened");
            fetchMessages();
        };

        chatSocket.onmessage = function (e) {

            console.log(e);
            var data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i = data['messages'].length; i > 0; i--) {
                    createMessage(data['messages'][i - 1]);
                }
            } else if (data['command'] === 'new_message') {
                createMessage(data['message']);
            } else if(data['command'] === 'notification' && data['from'] !== username){
                notification(data);
            }

            var s =  $(".chat-content")[0].scrollHeight;
            $(".chat-content").animate({scrollTop: s}, "fast");
        };

        function notification(data){
            console.log(data);
            var friends_avatar_url = document.getElementById("friend_avatar").value;
            if(data['status'] === 'typing'){
                let typing_tempate = `
                    <div class="message" id="typing-block">
                        <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
                            <img class="avatar-img" src="${friends_avatar_url}" alt="">
                        </a>
                        <div class="message-body">
                            <div class="message-row">
                                <div class="d-flex align-items-center">
                                    <div class="message-content bg-light">
                                        <div>${data.from} is typing<span class="typing-dots"><span>.</span><span>.</span><span>.</span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                $('.chat-content .container-xxl').append(typing_tempate);

                {#$(".chat-content").animate({scrollTop: $(document).height()}, "fast");#}
            }
            else if(data['status'] === 'no-typing'){
                $('#typing-block').remove();
            }


        }

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
            console.error(e);
        };



        document.querySelector('#chat-submit').onclick = function (e) {

            var messageInputDom = document.getElementById('chat-id-2-input');
            var message = messageInputDom.value;
            if(message !== ''){
                var message_json = {
                    'content': message,
                    'file_url': '',
                    'file_name': '',
                    'file_size': '',
                     };
                newMessage(message_json, 'text');
            }


            messageInputDom.value = '';
        };

        function newMessage(data, tag) {
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'tag': tag,
                'message': data,
                'from': username,
                'chatId': roomName,
                'contact_name': contactName
            }));
        }

        function fetchMessages() {
            console.log('fetch');
            chatSocket.send(JSON.stringify(
                {
                    'command': 'fetch_messages',
                    'chatId': roomName,
                }
                ));
        }


        function createMessage(data) {

            var author = data['contact'];
            var tag = data['tag'];
            var avatar = '';
            console.log('tag:' + tag);
            let messageRightTemplate = ``;
            if (data['avatar']){
                avatar = data['avatar']
            }
            else{
                avatar = '/static/dashboard/images/avatars/13.jpg'
            }
            if (author === username) {

                   if(tag === 'text' || tag === '' ) {
                       messageRightTemplate = `<div class="message message-right">

                    <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                      <img class="avatar-img" src="${avatar}" alt="">
                    </div>

                    <div class="message-body">

                      <div class="message-row">
                        <div class="d-flex align-items-center justify-content-end">
                          <div class="message-content bg-primary text-white">
                            <div>${data.content}</div>

                            <div class="mt-1">
                              <small class="opacity-65">${passTime(data.timestamp)}</small>
                            </div>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>`;

                   }
                   else if( tag === 'file'){
                       messageRightTemplate = `<div class="message message-right">

                                <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                    <img class="avatar-img" src="${avatar}"
                                         alt="">
                                </div>

                                <div class="message-body">

                                    <div class="message-row">
                                        <div class="d-flex align-items-center justify-content-end">

                                            <div class="message-content bg-primary text-white">
                                                <div class="media">
                                                    <a download="${data.file_name}" data-url="${data.file_url}" class="file-download icon-shape mr-5">
                                                        <i class="fe-paperclip"></i>
                                                    </a>
                                                    <div class="media-body overflow-hidden flex-fill">
                                                        <a download="${data.file_name}" data-url="${data.file_url}" class="file-download d-block text-truncate font-medium text-reset">
                                                        ${data.file_name}</a>
                                                        <ul class="list-inline small mb-0">
                                                            <li class="list-inline-item">
                                                                <span class="t">${data.file_size}</span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                            </div>`;
                   }
                   else if(tag === 'image'){
                       messageRightTemplate = `
                            <div class="message message-right">
                                <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                    <img class="avatar-img" src="${avatar}"
                                         alt="">
                                </div>

                                <div class="message-body">

                                    <div class="message-row">
                                        <div class="d-flex align-items-center justify-content-end">

                                            <div class="message-content bg-primary text-white w-100">
                                                <h6 class="mb-2">${data.contact} shared 1 photos:</h6>
                                                <div class="form-row py-3">
                                                    <div class="col">
                                                        <img class="img-fluid rounded"
                                                             src="${data.file_url}"
                                                             data-action="zoom" alt="${data.file_name}">
                                                    </div>

                                                </div>

                                                <div class="mt-1">
                                                    <small class="opacity-65">${ passTime(data.timestamp)}</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>`
                   }
            }
            else {
                   $('#typing-block').remove();
                   if(tag == 'text' || tag == '') {
                       messageRightTemplate = `<div class="message">
                                         <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-2-info">
                                              <img class="avatar-img" src="${avatar}" alt="">
                                         </a>
                                         <div class="message-body">
                                             <div class="message-row">
                                                <div class="d-flex align-items-center">
                                                      <div class="message-content bg-light">
                                                            <h6 class="mb-2">${data['contact']}</h6>
                                                            <div>${data.content}</div>

                                                            <div class="mt-1">
                                                              <small class="opacity-65">${passTime(data.timestamp)}</small>
                                                            </div>
                                                      </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div> `;
                   }
                   else if(tag === 'file'){
                        messageRightTemplate = `<div class="message">

                                <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-2-info">
                                              <img class="avatar-img" src="${avatar}" alt="">
                                </a>

                                <div class="message-body">

                                    <div class="message-row">
                                        <div class="d-flex align-items-center">

                                            <div class="message-content bg-light">
                                                <div class="media">
                                                    <a download="${data.file_name}" data-url="${data.file_url}" class="file-download icon-shape mr-5">
                                                        <i class="fe-paperclip"></i>
                                                    </a>
                                                    <div class="media-body overflow-hidden flex-fill">
                                                        <a download="${data.file_name}" data-url="${data.file_url}" class="file-download d-block text-truncate font-medium text-reset">
                                                        ${data.file_name}</a>
                                                        <ul class="list-inline small mb-0">
                                                            <li class="list-inline-item">
                                                                <span class="t">${data.file_size}</span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                            </div>`;
                   }
                   else if(tag === 'image'){
                       messageRightTemplate = `
                            <div class="message">
                                <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-2-info">
                                    <img class="avatar-img" src="${avatar}"
                                         alt="">
                                </a>

                                <div class="message-body">

                                    <div class="message-row">
                                        <div class="d-flex align-items-center">

                                            <div class="message-content bg-light w-100">
                                                <h6 class="mb-2">${data.contact} shared 1 photos:</h6>
                                                <div class="form-row py-3">
                                                    <div class="col">
                                                        <img class="img-fluid rounded"
                                                             src="${data.file_url}"
                                                             data-action="zoom" alt="${data.file_name}">
                                                    </div>

                                                </div>

                                                <div class="mt-1">
                                                    <small class="opacity-65">${ passTime(data.timestamp)}</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>`
                   }
            }

            $('.chat-content .container-xxl').append(messageRightTemplate);

            {#console.log($(document).prop("scrollHeight"));#}
            {#console.log($(document).height());#}
            {#$(".chat-content").animate({scrollTop: $(document).height()}, "fast");#}
        }

        function passTime(time) {
                var current_dateTime = new Date();
                var origin_dateTime = new Date(time);
                var time_difference = Math.abs(current_dateTime - origin_dateTime);

                var output='';

                if(time_difference<1000){
                    output = " Just Committed ";
                }
                else if(time_difference < 60*1000){
                    output = Math.floor(time_difference/1000).toString() + " secs ago";
                }
                else if(time_difference < 3600*1000){
                    output = Math.floor(time_difference/60/1000).toString() + " mins ago";
                }
                else if(time_difference < 24*3600*1000){
                    output = Math.floor(time_difference/3600/1000).toString() + " hours ago";
                }
                else if(time_difference < 30*24*3600*1000){
                    output = Math.floor(time_difference/24/3600/1000).toString() + " days ago";
                }
                else{
                    output = origin_dateTime.getMonth().toString() +
                            origin_dateTime.getDate().toString() + ',' +
                            origin_dateTime.getFullYear();
                }

                return output;


            }


        $(document).on("click", ".file-download", function(){
           console.log('data-root_url');
           download($(this).attr('data-url'), $(this).attr('download') );
        });

        function download(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }

         $(document).on("click",'.create-chat', function(){
             var pk = $(this).attr("data-id");
             var style = $(this).attr("data-style");
             console.log("pk:"+ pk);
             console.log("style:"+ style);
             var form  = document.getElementById("create-chat-form");
             var input_pk = document.createElement("INPUT");
             input_pk.setAttribute("type", "text");
             input_pk.setAttribute("name", "pk");
             input_pk.setAttribute("value", pk);
             form.appendChild(input_pk);
             var input_style = document.createElement("INPUT");
             input_style.setAttribute("type", "text");
             input_style.setAttribute("name", "style");
             input_style.setAttribute("value", style);
             form.appendChild(input_style);
             form.submit();

         });

        var my_typing_status = false;
        $(document).on("blur", "#chat-id-2-input", function () {
             my_typing_status = false;
             console.log(my_typing_status);
             chatSocket.send(JSON.stringify(
                {
                    'command': 'notification',
                    'status': 'no-typing',
                    'chatId': roomName,
                    'from': contactName,
                }
            ));

        });

        document.querySelector('#chat-id-2-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                  if($(this).val() !== '') {
                     if($(this).val().length > 1){
                         document.querySelector('#chat-submit').click();
                     }
                     $(this).val("");
                   }
            }
            else{
                 if($(this).val() !== ''){
                     if(!my_typing_status) {
                         my_typing_status = true;
                         console.log(my_typing_status);

                         chatSocket.send(JSON.stringify(
                             {
                                 'command': 'notification',
                                 'status': 'typing',
                                 'chatId': roomName,
                                 'from': username,
                             }
                         ));

                     }
                }
                else{
                    if(my_typing_status) {
                        my_typing_status = false;
                        console.log(my_typing_status);
                        chatSocket.send(JSON.stringify(
                            {
                                'command': 'notification',
                                'status': 'no-typing',
                                'chatId': roomName,
                                'from': username,
                            }
                        ));
                    }
                }
            }
         };


    </script>
</body>

</html>