{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Webpixels">
  <title>Quick – Website UI Kit</title>
  <!-- Preloader -->
  <style>
    @keyframes hidePreloader {
      0% {
        width: 100%;
        height: 100%;
      }

      100% {
        width: 0;
        height: 0;
      }
    }

    body>div.preloader {
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body:not(.loaded)>div.preloader {
      opacity: 1;
    }

    body:not(.loaded) {
      overflow: hidden;
    }

    body.loaded>div.preloader {
      animation: hidePreloader .5s linear .5s forwards;
    }
  </style>
  <script>
    window.addEventListener("load", function() {
      setTimeout(function() {
        document.querySelector('body').classList.add('loaded');
      }, 300);
    });
  </script>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <!-- Quick CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
    <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
      <div class="modal-content bg-dark-dark">
        <div class="modal-body">
          <!-- Text -->
          <p class="text-sm text-white mb-3">
            We use cookies so that our themes work for you. By using our website, you agree to our use of cookies.
          </p>
          <!-- Buttons -->
          <a href="../../pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
          <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Header -->
  <header class="header-transparent" id="header-main">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
      {% include "app/basic/navbar.html" %}
    </nav>
 
  </header>

  <!-- Main content -->
  <section class="slice slice-lg py-7 bg-cover bg-size--cover" style="background-image: url({% static 'assets/img/backgrounds/17.jpg' %});">
    <span class="mask bg-dark opacity-8"></span>
    <div class="container d-flex align-items-center" data-offset-top="#navbar-main">
      <div class="col py-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 col-lg-7 text-center">
            <h1 class="display-4 text-white mb-2"><strong>Nasz</strong> Blog</h1>
            <span class="text-white text-sm">#1 poznaj historie naszych Klientów.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-bottom">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text- active" href="#">Wszystkie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Samochody</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Meble</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Maszyny</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-5">
          <form class="rounded-lg border">
            <div class="input-group input-group-merge">
              <!-- Prepend -->
              <div class="input-group-prepend">
                <span class="input-group-text border-0 pr-2">
                  <i data-feather="search"></i>
                </span>
              </div>
              <!-- Input -->
              <input type="text" class="form-control border-0 px-1" aria-label="Find something" placeholder="Szukane słowo...">
              <!-- Append -->
              <div class="input-group-append">
                <span class="input-group-text border-0 py-0 pl-2 pr-1">
                  <button type="button" class="btn btn-sm btn-primary">Wyszukaj</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="slice pt-5 pb-7 bg-section-secondary">
      <div class="container">
          <div class="row">
          
            {% for object in post_list %}
            <div class="col-xl-4 col-md-6">
              <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href="{% url 'app:article' object.id %}" class="d-block">
                    <img alt="Image placeholder" src="{{ object.img_800x600.url }}" class="card-img-top">
                  </a>
                </div>
                <div class="card-body py-4">
                  <small class="d-block text-sm mb-2">{{ object.created_at }}</small>
                  <a href="{% url 'app:article' object.id %}" class="h5 stretched-link lh-150">{{ object.topic|truncatechars:40 }}</a>
                  <p class="mt-3 mb-0 lh-170">{{ object.sub_title|truncatechars:80 }}</p>
                </div>
                <div class="card-footer border-0 delimiter-top">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-sm bg-primary rounded-circle">{{ object.owner|make_list|first }}</span>
                      <span class="text-sm mb-0 avatar-content">{{ object.owner }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          
          <!-- Load more
          <div class="mt-4 text-center">
            <a href="#" class="btn btn-neutral hover-translate-y-n3">Załaduj więcej </a>
          </div> -->
        </div>
  </section>
  
  <footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-5 footer-dark bg-dark">
      <!-- SVG shape -->
      <!-- Footer -->
      <div class="container pt-1">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <h3 class="text-secondary mb-2">Dołącz do nas</h3>
                <p class="lead mb-0 text-white opacity-8">
                  Przewieź swoją paczkę lub dołącz do nas jako firma transportowa.
                </p>
              </div>
              <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                <a href="../../docs/index.html" class="btn btn-white my-2" target="_blank">
                  Wyceń transport <i class="fas fa-box-open ml-2 text-primary"></i>
                </a>
                <a href="https://themes.getbootstrap.com/product/quick-website-ui-kit-2/" class="btn btn-primary my-2 ml-0 ml-sm-3" target="_blank">
                  Dodaj firmę <i class="fas fa-truck-moving ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider divider-fade divider-dark my-5">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <!-- Theme's logo -->
            <a href="../../index.html">
              <img alt="Image placeholder" src="{% static 'assets/img/brand/new-white-1.png' %}" id="footer-logo" style="height:60px">
            </a>
            <!-- Webpixels' mission -->
            <p class="mt-4 text-sm opacity-8 pr-lg-4">Nasz serwis daje możliwość kompleksowej wyceny niestandardowych przesyłek. Natomiast jako firma transportowa otrzymujesz dostęp do najlepszych zleceń z całej Polski.</p>
            <!-- Social -->
          </div>
          <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
            <h6 class="heading mb-3">Dla klientów</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Moja paczka</a></li>
              <li><a href="#" class="text-white">Nadaj</a></li>
              <li><a href="#" class="text-white">Kontakt</a></li>
              <li><a href="#" class="text-white">Regulamin</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3">Dla firm</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Zaloguj</a></li>
              <li><a href="#" class="text-white">Zapisz się</a></li>
              <li><a href="#" class="text-white">Wsparcie</a></li>
              <li><a href="#" class="text-white">Regulamin</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3">Pozostałe</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Cennik</a></li>
              <li><a href="#" class="text-white">Jak to działa?</a></li>
              <li><a href="#" class="text-white">O nas</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider divider-fade divider-dark my-4">
        <div class="row align-items-center justify-content-md-between pb-4">
          <div class="col-md-6">
            <div class="copyright text-sm font-weight-bold text-center text-md-left text-white">
              &copy; 2020 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">TGcoders.pl</a>. Wszystkie prawa zastrzeżone.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Prywatność
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Regulamin
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Create <i class="fab fa-connectdevelop"></i> TGcoders.pl
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Core JS  -->
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script>
  <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
  <!-- Quick JS -->
  <script src="{% static 'assets/js/quick-website.js' %}"></script>
  <!-- Feather Icons -->
  <script>
    feather.replace({
      'width': '1em',
      'height': '1em'
    })
  </script>
</body>

</html>