{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TGcoders.pl">
  <title>Transportuj24.pl - Strona główna.</title>
  <style>
    @keyframes hidePreloader {
      0% {
        width: 100%;
        height: 100%;
      }

      100% {
        width: 0;
        height: 0;
      }
    }

    body>div.preloader {
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body:not(.loaded)>div.preloader {
      opacity: 1;
    }

    body:not(.loaded) {
      overflow: hidden;
    }

    body.loaded>div.preloader {
      animation: hidePreloader .5s linear .5s forwards;
    }
  </style>
  <script>
    window.addEventListener("load", function() {
      setTimeout(function() {
        document.querySelector('body').classList.add('loaded');
      }, 300);
    });
  </script><!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png"><!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'assets/libs/%40fortawesome/fontawesome-free/css/all.min.css' %}"><!-- Quick CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
  <!--===============================================-->
  <!--    Cookies-->
  <!--===============================================-->
  <div class="preloader">
    <div class="spinner-border text-primary" role="status"><span class="sr-only">Wczytywanie...</span></div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
    <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
      <div class="modal-content bg-dark-dark">
        <div class="modal-body">
          <!-- Text -->
          <p class="text-sm text-white mb-3">
            Używamy plików cookie, aby zapewnić najwyższy poziom działania naszego serwisu. Korzystając z naszej witryny, zgadzasz się na ich wykorzystywanie.
          </p><!-- Buttons --><a href="/regulamin/" class="btn btn-sm btn-white" target="_blank">Czyatj więcej</a><button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!--===============================================-->
  <!--    End of Cookies-->
  <!--===============================================-->
  <!-- Header -->
  <header class="" id="header-main">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-light" id="navbar-main">
      <!-- Include navbar content -->
      {% include "app/basic/navbar.html" %}
    </nav>
  </header><!-- Omnisearch -->
  <!-- Main content -->
  <section>
    <!-- Container -->
    <div class="container d-flex align-items-center text-center text-lg-left py-5 py-lg-6 border-bottom">
      <div class="col px-0">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <!-- Title -->
            <h2 class="h1 mb-2">Polityka prywatności</h2>
            <h6 class="font-weight-light text-muted">Ostatnia aktualizacja: 26.04.2020 r.</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice">
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-lg-3">
          <div data-toggle="sticky" data-sticky-offset="50">
            <div class="card">
              <div class="card-body">
                <nav class="nav nav-pills flex-column" id="nav-terms"><a class="nav-link text-sm" href="#item-1" data-scroll-to data-scroll-to-offset="130">Informacje ogólne</a><a class="nav-link text-sm" href="#item-2" data-scroll-to data-scroll-to-offset="130">Administrator</a><a class="nav-link text-sm" href="#item-3" data-scroll-to data-scroll-to-offset="130">Bezpieczeństwo</a><a class="nav-link text-sm" href="#item-4" data-scroll-to data-scroll-to-offset="130">Przetwarzanie danych osobowych</a><a class="nav-link text-sm" href="#item-5" data-scroll-to data-scroll-to-offset="130">Zmiany w polityce prywatności</a><a class="nav-link text-sm" href="#item-6" data-scroll-to data-scroll-to-offset="130">Postanowienia końcowe</a></nav>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="mb-5">
            <h5 id="item-1">Informacje ogólne</h5>
            <p>
              Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez użytkowników w związku z korzystaniem przez nich usług oferowanych w serwisie Lombo.pl.
            </p>
          </div>
          <div class="mb-5">
            <h5 id="item-2">Administrator</h5>
            <p>
              Administratorem danych osobowych jest właściciel serwisu Maciej Czerwiński z siedzibą w Poznaniu.
            </p>
          </div>
          <div class="mb-5">
            <h5 id="item-3">Bezpieczeństwo</h5>
            <p>
              W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.
            </p>
          </div>
          <div class="mb-5">
            <h5 id="item-4">Przetwarzanie danych osobowych</h5>
            <p>
              Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach, w których przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa lub w celu realizacji zawartej pomiędzy stronami umowy oraz podstawowych działalności niniejszego serwisu.
            </p>
            <p>
              Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:
            </p>
            <p>
              a) Poprzez dobrowolnie wprowadzone w formularzach informacje.
            </p>
            <p>
              b) Poprzez gromadzenie plików “cookies”.
            </p>
            <p>
              Serwis zbiera informacje dobrowolnie podane przez użytkownika.
            </p>
            <p>
              Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza np. w celu dokonania procesu obsługi kontaktu informacyjnego.
            </p>
            <p>
              Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom trzecim, nie będącymi użytkownikami niniejszego serwisu zgodnie z przepisami Ustawy o ochronie danych osobowych.
            </p>
            <p>
              Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła oraz firmą i spółce kapitałowej (jeżeli jest odpowiedzialna za ich dodanie i ma do nich prawo). Podmiot ten ma również prawo do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie.
            </p>
          </div>
          <div class="mb-5">
            <h5 id="item-5">Zmiany w polityce prywatności</h5>
            <p>
              Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego serwisu internetowego. O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.
            </p>
          </div>
          <div class="mb-5">
            <h5 id="item-6">Postanowienia końcowe</h5>
            <p>
              W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez serwis Lombo.pl strony te mogą posiadać własne polityki dotyczące prywatności oraz regulaminy, z którymi zalecamy się zapoznać. W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do dyspozycji - nasze dane znaleźć można w regulaminie strony.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- ============================================-->
  <!-- Footer =====================================-->
  <footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 footer-dark bg-dark">
      {% include "app/basic/footer.html" %}
    </div>
  </footer><!-- End footer =================================-->

  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script><!-- Optional JS -->
  <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script>
  <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script><!-- Quick JS -->
  <script src="{% static 'assets/js/quick-website.js' %}"></script><!-- Feather Icons -->
  <script>
    feather.replace({
      'width': '1em',
      'height': '1em'
    })
  </script>
</body>

</html>