{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TGcoders.pl">
  <title>Transportuj24.pl - Przesyłka pozytywnie dodana | Sprawdź wycene swojej przesyłki.</title>
  <!-- Preloader -->
  <style>
    @keyframes hidePreloader {
      0% {
        width: 100%;
        height: 100%;
      }

      100% {
        width: 0;
        height: 0;
      }
    }

    body>div.preloader {
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body:not(.loaded)>div.preloader {
      opacity: 1;
    }

    body:not(.loaded) {
      overflow: hidden;
    }

    body.loaded>div.preloader {
      animation: hidePreloader .5s linear .5s forwards;
    }
  </style>
  <script>
    window.addEventListener("load", function() {
      setTimeout(function() {
        document.querySelector('body').classList.add('loaded');
      }, 300);
    });
  </script>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/logo-sm.png' %}" type="image/png">
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.css' %}">
  <!-- Quick CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
  <!-- ============================================-->
  <!-- Go back ====================================-->
  <a href="{% url 'app:home' %}" class="btn btn-secondary btn-icon-only rounded-circle position-absolute zindex-101 left-4 top-4 d-none d-lg-inline-flex"><span class="btn-inner--icon"><i data-feather="arrow-left"></i></span></a>
  <!-- ============================================-->
  <!-- ============================================-->
  <!-- Basic section ==============================-->
  <section>
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-md-11 col-lg-9 col-xl-8 py-6 py-md-0">
          <div>
            <!-- ============================================-->
            <!-- Go back ====================================-->
            <div class="mb-2 text-center">
              {% if not object.price %}
              <h2 class="h1 mb-3">Przesyłka dodana!</h2><!-- Large -->
              {% else %}
              <h2 class="h1 mb-3">Przesyłka wyceniona!</h2>
              {% endif %}
              <p class="d-none d-md-block">Twoja <b class="text-primary">przesyłka</b> została pozytywnie dodana do <b class="text-primary">uzyskania wyceny</b>. Poinformujemy Cię drogą mailową o otrzymaniu odpowiedzi.</p><!-- Small -->
              <!-- error message ==============================-->
              <!-- end erroe message ==========================-->
              <!-- ============================================-->
              <!-- visable large -->
              <div class="d-none d-md-block">
                {% if not user.is_authenticated %}
                <a class="btn btn-sm btn-soft-warning text-dark" href="{% url 'authentication:signup' %}" data-toggle="tooltip" data-placement="top" title="Utwórz konto i śledź etap wyceny!">Utwórz nowe konto<i class="far fa-user-circle ml-2"></i></a>
                {% else %}
                <a class="btn btn-sm btn-soft-warning text-dark" href="{% url 'authentication:signup' %}" data-toggle="tooltip" data-placement="top" title="Przejdź do profilu użytkownika.">Przejdź do swojego konta<i class="far fa-user-circle ml-2"></i></a>
                {% endif %}
                <a href="{% url 'app:home' %}#formularz-wyceny" class="btn btn-sm btn-soft-warning ml-2 text-dark" data-toggle="tooltip" data-placement="top" title="Uzyskaj wycenę dla kolejnej przesyłki!">Wyceń nową przesyłke <i class="far fa-plus-square ml-2"></i></a>
              </div>
            </div><!-- End first step =============================-->
            <!-- ============================================-->
            <div class="row">
              <div class="col-12 text-center">
              
                {% if not object.price %}
                <i class="far fa-check-circle fa-10x text-success py-5"></i><br>
                {% else %}
                <div class="col-12 mb-5 text-left mt-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-8">
                          {% if object.image_1 %}
                          <img class="rounded float-left mr-2" src="{{ object.profile_pictures.url }}" alt="Image Description" style="width: 100px;">
                          {% else %}
                          <img class="rounded float-left mr-2" src="{% static 'dashboard/images/avatars/3a.jpg' %}" alt="Image Description" style="width: 100px;">
                          {% endif %}
                          <h5 class="">{{ object.type_product }}. ID {{ object.id }}</h5>
                          <p><span class="fe-map-pin"></span>{{ object.location_name_from }} <br>
                          <span class="fe-truck"></span>{{ object.location_name_to }}</p>
                        </div>
                        <div class="col-4 text-right mt-4">
                          {% if object.price %}
                          <button class="btn btn-primary">Opłać: {{ object.price }}zł</button>
                          {% else %}
                          <button class="btn btn-danger">Oczekuje na wycene</button>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              
              {% if not object.price %}
              {% if not user.is_authenticated %}
              <a href="{% url 'app:home' %}" class="btn btn-primary btn-lg rounded-pill mt-2 hover-shadow-lg hover-translate-y-n3">Wróć na stronę główną</a>
              {% else %}
              <a href="{% url 'dashboard:products' %}" class="btn btn-primary btn-lg rounded-pill mt-2 hover-shadow-lg hover-translate-y-n3">Przejdź do swoich przesyłek</a>
              {% endif %}
              {% endif %}
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End basic section ==========================-->
  <!-- ============================================-->

  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script>
  <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
  <script src="{% static 'assets/libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <!-- Quick JS -->
  <script src="{% static 'assets/js/quick-website.js' %}"></script>
  <!-- Feather Icons -->
  <script>
    feather.replace({
      'width': '1em',
      'height': '1em'
    })
  </script>
</body>

</html>